/* normal style */
.site-header
  padding: remify(5px) 0;
  background-color #212121
  .page-title
    .title
      color #FFF

.site-menu
  margin-top remify(10px)
  text-shadow none
  a
    color #999

/* font_size */
.site-header
  .page-title
    .title
      font-size remify(13px)
  .site-menu
    margin-top remify(5px)
    font-size remify(8px)